{{#each errors}}
    <div class='alert alert-danger'>{{texto}}</div>
{{else}}
{{/each}}

<div class="card">
    <div class="card-body">
        <h3>New Category:</h3>
        <form action="./new" method="POST">
            <label for="name">Name: </label>
                <input type="text" id="name" name="name" placeholder="Enter category name" class="form-control">
            <label for="slug">Slug: </label>
                <input type="text" id="slug" name="slug" placeholder="Enter slug category" class="form-control">
            <br>
            <button type="submit" class="btn btn-success">Create Category</button>
        </form>
    </div>
</div>