
<div class="card mt-4">
    <div class="card-body">    
        <h1>{{post.tittle}}</h4>
        <hr>
        <small>Publication date: {{post.date}}</small>
        <hr>
        {{post.content}}
    </div>
</div>
            
