<h2>Category list: </h2>
<hr>

{{#each categories}}
    <div class="card mt-4">
        <div class="card-body">
            <a href="/categories/{{slug}}"><h4>{{name}}</h4></a>
        </div>
    </div>
{{else}}
    <p>No category</p>
{{/each}}